@model Freedom.Models.LocalPasswordModel
@{
    Layout = null;
}
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        @using (Html.BeginForm("manage", "account", "post", FormMethod.Post, new { @class = "registration-form", role = "form" }))
                        {
                            <fieldset>
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>设置密码</h3>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-password form-control", placeholder = "旧密码" })                                     
                                        @Html.ValidationMessageFor(m => m.OldPassword)
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-password form-control", placeholder = "新密码" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                    </div>
                                    <div class="form-group">
                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-repeat-password form-control", placeholder = "确认密码", type = "password" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </div>
                                    <button type="submit" class="btn">确认</button>
                                </div>
                            </fieldset>
                            @Html.AntiForgeryToken()
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>